<%= button_to "Back to All Scrapes", root_path, class: "btn btn-info" %>
<hr>
<table class="table table-striped" >
		<tr>
			<th>Away</th>
			<th>Away Pre</th>
			<th>Home</th>
			<th>Home Pre</th>
			<th>Home Edge</th>
			<th>Proj Spread</th>
			<th>Cov Spread</th>
			<th>Diff</th>
			<th>Edge</th>
		<tr>

	<% @games.each do |t| %>
		<tr>
			<td><%= t.away %></td>
			<td><%= t.away_predictor %></td>
			<td><%= t.home %></td>
			<td><%= t.home_predictor %></td>
			<td><%= t.home_edge %></td>
			<td><%= t.projected_spread %></td>
			<td><%= t.spread_wagerline %></td>
			<td><%= t.diff %></td>
			<td><%= t.edge %></td>
		<tr>	
	<% end %>
</table>

