<%= button_to "Back to All Scrapes", root_path, class: "btn btn-info" %>

<div class="btn-group">
	  <button class="btn">Filter By Home Team</button>
	  	<button class="btn dropdown-toggle" data-toggle="dropdown">
	    	<span class="caret"></span>
	  	</button>
	  		<ul class="dropdown-menu">
	  			<% @home_teams.each do |t| %>
	    		<%= link_to "#{t}", {:team => "#{t}"} %> </br>
	    		<% end %>
	  		</ul>
</div>
</br>
</br>

<table class= "table table-striped table-bordered" >
		<tr>
			<th>Date</th>
			<th>Away</th>
			<th>Away Pre</th>
			<th>Home</th>
			<th>Home Pre</th>
			<th>Home Edge</th>
			<th>Proj Spread</th>
			<th>Cov Spread</th>
			<th>Diff</th>
			<th>Edge</th>
		<tr>

	<% @games.each do |t| %>
		<tr>
			<td><%= t.created_at.to_date %></td>
			<td><%= t.away %></td>
			<td><%= t.away_predictor %></td>
			<td><%= t.home %></td>
			<td><%= t.home_predictor %></td>
			<td><%= t.home_edge %></td>
			<td><%= t.projected_spread %></td>
			<td><%= t.spread_wagerline %></td>
			<td><%= t.diff %></td>
			<td><%= t.edge %></td>
		<tr>	
	<% end %>
</table>