<!DOCTYPE html>
<html>
<head>
  <title>TheSystem</title>
	<!-- Latest compiled and minified CSS -->
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script> 
	<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>	 
  <%= csrf_meta_tags %>
</head>
<body>
    <%= render "layouts/header" %>
    <div class="container">
    	<div class="main-body">
    		<div class="alert alert-warning"><i class="fa fa-info-circle"></i>&nbspDaily scrape is downloaded at 9:00 UTC & final scores for previous day are downloaded at 8:00 UTC.</div>  		
    		<%= yield %>
    	</div>	
  	</div>
</body>
</html>
